.detail{
    background-color:white;
   
}
.team{
    float:right;
}
.time{
    float: left;
}
.title{
    background-color:#007CC7;
    text-align: center;
    color:white;
 
}

.title-btn a{
    color:white;
    padding:5px;
    background-color:gray;
    border-radius:15px 15px 0 0;
    text-decoration: none;
}

.title-btn a:hover{
    background-color:white;
    color:black;
}



.project{
    box-shadow:0 10px 10px -5px;
    border:1px solid;
}