.detail{
    background-color:white;
   
}
.team{
    float:right;
}
.time{
    float: left;
}
.title{
    background-color:#007CC7;
    text-align: center;
    color:white;
 
}
.title h4{
    font-size:50px;
    border-bottom:2px solid;
    margin-bottom:20px;
}
.title a{
    color:white;
    padding:6px;
    background-color:gray;
    border-radius:15px 15px 15px 15px;
    text-decoration: none;
    border: 1px solid;
}

.title a:hover{
    background-color:white;
    color:black;
}



.project{
    box-shadow:0 10px 10px -5px;
    border:1px solid;
}

@media all and (max-width:700px){

    .title h4{
        font-size:30px;
    }
    .title a{
        border-radius:15px 15px 0 0;
    }
}

    