{% extends 'base.html' %}

{% block title %}Projects{% endblock %}

{% block body %}
{% include 'header.html' %}
<div class="container">
    <legend>Projects</legend><hr>
    <div class="container-fluid project">
        <div class="row">
            <div class="col-sm-4 title">
                <h4>Mail Box</h3>
                <div class="title-btn">
                    <a href="#">Source code</a>
                    <a href="#">Live project</a>
                    <a href="#">Project blog</a>
                </div>
            </div>
            <div class="col-sm-8 detail">
                <p>The closest and most special person in your life is the person you call your best friend. We share almost everything with our best friend. Best friends support unconditionally. Understanding is an essential part of being a best friend to someone. Whether you are happy or sad, facing a bad situation or right, you will always get your best friend.</p>
                <small class="team">- team firecode</small>
                <small class="time">- current time</small>
            </div>
        </div>
    </div>
    </div>
</div>
{% include 'footer.html' %}
{% endblock %}